a {
  text-decoration: none;
  color: #000;
}

.btn.btn-primary {
  color: #fff !important;
  background: #8e6950 !important;
  border-color: #8e6950 !important;
}

input#field-license-key-66a27576c485363b0d587d1c659501755fe3deb8:-moz-read-only {
  color: black;
  opacity: 1;
}

input#field-license-key-66a27576c485363b0d587d1c659501755fe3deb8:read-only {
  color: black;
  opacity: 1;
}

